@model RITFacultyV1.ViewModels.GradViewModels

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />

<h2 class="pageHeading">Undergraduate and Graduate Programs</h2>

<div class="col-sm-12 col-lg-12 col-md-12">
    @foreach (var grad in Model.Grads)
    {
        <h3 class="topicGrads">
            @grad.degreeName
        </h3>
        <h3 class="captionDegree">
            @grad.title
            @grad.description
        </h3>
        if (grad.concentrations != null)
        {
            foreach (var conc in grad.concentrations)
            {
                {
                    <ul>
                        <li>@conc</li>
                    </ul>
                }
            }
        }
        else
        {

        }
        <br />
    }
</div>